h1 {
 color:f08080;/* Gantikan warna ke #koral terang */
 font-family: 'Times New Roman', Times, serif; /* mengatur jenis font yang dipakai */
 font-weight: 90; /* mengatur ketebalan font */
}

h2 {
 color:00ffff;/* Gantikan warna ke #emas */
 font-family: 'Times New Roman', Times, serif; /* mengatur jenis font yang dipakai */
 font-weight: 75; /* mengatur ketebalan font */
}

p {
 color:#800000;
 font-family: 'Times New Roman', Times, serif; /* mengatur jenis font yang dipakai */
 font-weight: 60; /* mengatur ketebalan font */
}

